[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
Actions=openInAshyTerminal
X-KDE-Priority=TopLevel

[Desktop Action openInAshyTerminal]
Name=Open in Ashy Terminal
Name[pt]=Abrir no Ashy Terminal
Exec=ashyterm --working-directory %f
Icon=ashyterm
