[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=OpenTerminalHere;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=true
Icon=ashyterm

[Desktop Action OpenTerminalHere]
Icon=ashyterm
Name=Open Ashy Terminal Here
Name[pt]=Abrir Ashy Terminal Aqui
Name[es]=Abrir Ashy Terminal Aquí
Name[bg]=Отвори Ashy Terminal тук
Name[cs]=Otevřít Ashy Terminal zde
Name[da]=Åbn Ashy Terminal her
Name[de]=Ashy Terminal hier öffnen
Name[el]=Άνοιγμα Ashy Terminal εδώ
Name[et]=Ava Ashy Terminal siin
Name[fi]=Avaa Ashy Terminal tässä
Name[fr]=Ouvrir Ashy Terminal ici
Name[he]=פתח Ashy Terminal כאן
Name[hr]=Otvori Ashy Terminal ovdje
Name[hu]=Ashy Terminal megnyitása itt
Name[is]=Opna Ashy Terminal hér
Name[it]=Apri Ashy Terminal qui
Name[ja]=ここでAshy Terminalを開く
Name[ko]=여기서 Ashy Terminal 열기
Name[nl]=Ashy Terminal hier openen
Name[no]=Åpne Ashy Terminal her
Name[pl]=Otwórz Ashy Terminal tutaj
Name[ro]=Deschide Ashy Terminal aici
Name[ru]=Открыть Ashy Terminal здесь
Name[sk]=Otvoriť Ashy Terminal tu
Name[sv]=Öppna Ashy Terminal här
Name[tr]=Ashy Terminal'i burada aç
Name[uk]=Відкрити Ashy Terminal тут
Name[zh]=在此处打开 Ashy Terminal
Exec=ashyterm %U